{% extends 'master_out.html' %}

{% load static from staticfiles %}

{% load humanize %}

{% block title %} GCM - Inicio {% endblock title %}

{% block css %}

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/slick/1.8.0/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/slick/1.8.0/slick-theme.css' %}"/>

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'landing.min.css' %}"/>

{% endblock css %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 text-center">
                <h4 class="own-title-page">
                    Enterate - Noticias recientes GCM
                </h4>
            </div>
        </div>

        <div class="row">
            {% if records %}
                <div class="col-xs-12 own-carusel">
                    <div id="carrusel">
                        {% for record in records %}
                        <div>
                            <a href="{% url 'editorial:post_view' record.pk %}">
                                <img src="{{ record.image.url }}" alt="portada" class="own-img-carusel">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9">
                                        <h4 class="own-post-title">{{ record.title }}</h4>
                                    </div>
                                    <div class="hidden-xs col-sm-3">
                                        <span class="pull-right own-post-info">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                            {{ record.created_date|naturaltime|default:"" }}
                                        </span>
                                    </div>
                                </div>
                            </a>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <h2 class="text-center own-empty-message">Sin noticias publicadas</h2>
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block scripts %}

    <!-- Slick -->
    <script type="text/javascript" src="{% static 'libs/slick/1.8.0/slick.min.js' %}"></script>

    <!-- Own's Libraries -->
    <script type="text/javascript" src="{% static 'landing.min.js' %}"></script>

{% endblock scripts %}
