{% load static from staticfiles %}

{% load custom_tags %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Portal Empleados de GCM">
        <meta name="author" content="Carlos Andres Martinez Jimenez">
        <!-- <link rel="icon" href="../../favicon.ico"> -->
        <title> {% block title %} {% endblock title %} </title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/3.3.7/css/bootstrap.min.css' %}"/>

        <!-- Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/awesome-icons/4.7.0/css/font-awesome.min.css' %}">

        <!-- Own's Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'master.min.css' %}"/>

        {% block css %}

        {% endblock css %}

    </head>
    <body class="fuelux">
        <div class="own-wrap">
            <div class="own-main">
                <nav class="navbar navbar-default own-navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand own-navbar-brand" href="{% url 'home:default' %}">
                                <img alt="Brand" src="{% static 'images/logos/logo-medium.png' %}" class="img-responsive own-logo">
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right text-center">

                                {% if user.is_authenticated %}

                                <!-- <li><a class="own-menu-option" href="{% url 'payroll:voucher_list' %}">Comprobantes</a></li>
                                <li><a class="own-menu-option" href="{% url 'payroll:benefit_list' %}">Prestaciones</a></li>
                                <li><a class="own-menu-option" href="{% url 'labor:incident_list' %}">Incidencias</a></li> -->


                                {% if user.is_superuser or user|filter_has_group:"NOTICIAS_ADM" %}
                                    <li><a class="own-menu-option" href="{% url 'editorial:post_list' %}">Noticias</a></li>
                                {% endif %}

                                <li class="dropdown own-dropdown">

                                    {% if user.username == "admin" %}
                                        <a class="own-menu-option" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMINISTRADOR<span class="caret"></span></a>
                                    {% else %}
                                        <a class="own-menu-option" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username|upper }}<span class="caret"></span></a>
                                    {% endif %}
                                    <ul class="dropdown-menu own-dropdown-menu">

                                        {% if user.is_superuser %}

                                            <li><a class="own-submenu-option" href="{% url 'security:user_list' %}">Usuarios</a></li>
                                            <!-- <li><a class="own-submenu-option" href="{% url 'management:email' %} ">Correo</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a class="own-submenu-option" href="{% url 'management:task_list' %}">Bandeja</a></li> -->
                                        {% else %}
                                            <li><a class="own-submenu-option" href="{% url 'security:profile' user.pk %}">Mi Perfil</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'security:logout' %}" class="btn btn-danger btn-sm navbar-btn own-btn-menu own-btn-menu-out">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Salir
                                    </a>
                                </li>

                                {% else %}

                                <li>
                                    <a href="{% url 'security:login' %}" class="btn btn-primary btn-sm navbar-btn own-btn-menu own-btn-menu-in">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                        Ingresar
                                    </a>
                                </li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>

                {% block content %}

                {% endblock content %}

            </div>
        </div>

        <footer class="text-center own-page-footer">
            GCM Derechos Reservados.
        </footer>

        <!-- jQuery-->
        <script type="text/javascript" src="{% static 'libs/jquery/2.2.4/jquery.min.js' %}"></script>

        <!-- Bootstrap-->
        <script type="text/javascript" src="{% static 'libs/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>

        <!-- Own's Libraries -->
        <script type="text/javascript" src="{% static 'master.min.js' %}"></script>

        {% block scripts %}

        {% endblock scripts %}

    </body>
</html>
