{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Portal Empleados de GCM">
        <meta name="author" content="Carlos Andres Martinez Jimenez">
        <!-- <link rel="icon" href="../../favicon.ico"> -->
        <title> {% block title %} {% endblock title %} </title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/3.3.7/css/bootstrap.min.css' %}"/>

        <!-- Pace -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/pace/1.0.0/pace.theme.css' %}"/>

        <!-- Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'libs/awesome-icons/4.7.0/css/font-awesome.min.css' %}">

        <!-- Own's Styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'master.css' %}"/>

        {% block css %}

        {% endblock css %}

    </head>
    <body class="fuelux">

        <div class="own-wrap">

            <div class="own-main">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'home:index' %}">
                                GCM Empleados
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right">

                                {% if user.is_authenticated %}

                                <li><a href="{% url 'payroll:voucher_list' %}">Comprobantes</a></li>
                                <li><a href="{% url 'payroll:benefit_list' %}">Prestaciones</a></li>
                                <li><a href="{% url 'labor:incident_list' %}">Incidencias</a></li>
                                <li><a href="{% url 'editorial:new_list' %}">Noticias</a></li>

                                <li class="dropdown own-dropdown">

                                    {% if user.username == "admin" %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADMINISTRADOR<span class="caret"></span></a>
                                    {% else %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username|upper }}<span class="caret"></span></a>
                                    {% endif %}
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'security:profile' 0 %}">Perfil</a></li>

                                        {% if user.is_superuser %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                                        <li><a href="{% url 'management:email' %} ">Correo</a></li>
                                        {% endif %}

                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'management:task_list' %}">Bandeja</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'security:logout' %}" class="btn btn-default btn-sm navbar-btn own-btn-logout">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Salir
                                    </a>
                                </li>

                                {% else %}

                                <li>
                                    <a href="{% url 'security:login' %}" class="btn btn-default btn-sm navbar-btn own-btn-logout">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                        Ingresar
                                    </a>
                                </li>

                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid own-page-content">

                    {% block contenido %}

                    {% endblock contenido %}
                </div>

            </div>


        </div>

        <footer class="text-center own-page-footer">
            Oktosys 2017
        </footer>

        <!-- jQuery-->
        <script type="text/javascript" src="{% static 'libs/jquery/2.2.4/jquery.min.js' %}"></script>

        <!-- Bootstrap-->
        <script type="text/javascript" src="{% static 'libs/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>

        <!-- Pace -->
        <script type="text/javascript" src="{% static 'libs/pace/1.0.0/pace.min.js' %}"></script>

        {% block scripts %}

        {% endblock scripts %}

    </body>
</html>
