
{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} GCM - Noticia {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'post/view.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'own-theme/links.css' %}"/>

{% endblock css %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <header>
                <h3>
                    <ol class="breadcrumb">
                      <li><a href="{% url 'security:user_list' %}">Inicio</a></li>
                      <li> {{ record.title }} </li>
                    </ol>
                </h3>
            </header>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-8 col-lg-9">

            {% if record.image %}
                <img src="{{ record.image.url }}" class="img-responsive own-image" alt="Post Imagen">
            {% endif %}

            <div class="well text-justify own-content">
                {% autoescape off %}
                    {{ record.content|linebreaks }}
                {% endautoescape %}

                <div class="text-center">
                    <a href="{% url 'editorial:post_edit' record.pk %}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Editar Noticia
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-3">
            <div class="panel panel-default affix-top">
                <div class="panel-heading">
                    <h3 class="panel-title">Otras Noticias:</h3>
                </div>
                {% if other_posts %}
                    <ul class="list-group">
                    {% for post in others_posts %}
                        <a class="list-group-item own-link-item" href="#">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            Titulo de otras noticias
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <div class="panel-body">
                      <h4 class="text-center">Sin noticias que mostrar</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
    <!--
    <div>
        <div class="own-section-title">
            LINK
        </div>
        <div class="well own-section-body">
            www.google.com.mx
        </div>
    </div>

    <div class="well">
        <div class="media">
             <div class="media-left visible-lg">
                <a href="#">
                    <img class="media-object" src="{% static "images/decorators/pics.svg" %}" alt="...">
                </a>
            </div>
        </div>
    </div>

    <div>
        <div class="own-section-title">
            FOTOS
        </div>
        <div class="well own-section-body">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static "images/decorators/pics.svg" %}" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group well">
        <label for="comment">Comentario:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <br>
        <a href="#" class="btn btn-default">Enviar</a>
    </div> -->
