{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Nuevo Usuario {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'tags/components.min.css' %}"/>

{% endblock %}

{% block content %}

    <div class="container ">

        <div class="row">

            <div class="col-xs-12">
                <header>
                    <h3>
                        <ol class="breadcrumb own-breadcrumb">
                          <li class="own-breadcrumb-init"><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                          <li>Crear un nuevo Usuario</li>
                        </ol>
                    </h3>
                </header>
                <hr>
            </div>

            <div class="col-xs-12">

                <form action="" method="post" class="well"> {% csrf_token %}

                    {% include 'messages.html' %}

                    {% tag_form_errors form %}

                    {% tag_field form.username %}

                    {% tag_field form.first_name %}

                    {% tag_field form.last_name %}

                    {% tag_field form.email %}

                    {% tag_field form.password1 %}

                    {% tag_field form.password2 %}

                    <div class="text-center">
                        <a href="{% url 'security:user_list' %}" class="btn btn-default">Cancelar</a>
                        <button type="submit" class="btn btn-success">
                            Crear usuario
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>

{% endblock content %}
