{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block contenido %}

    <div class="row">

        <div class="col-xs-12">
            <header>
                <h3>
                    <ol class="breadcrumb">
                      <li><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                      <li>Crear un nuevo usuario</li>
                    </ol>
                </h3>
                
            </header>

            <hr class="own-article-line">
        </div>

        <div class="col-xs-12">

            <form action="" method="POST" class="well"> {% csrf_token %}

                {% include 'tags/messages.html' %}

                {% tag_form_errors form %}

                {% tag_field form.username %}

                {% tag_field form.first_name %}

                {% tag_field form.last_name %}

                {% tag_field form.email %}

                {% tag_field form.password1 %}

                {% tag_field form.password2 %}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Crear usuario
                    </button>
                    <a href="{% url 'security:user_list' %}" class="btn btn-default">Cancelar</a>
                </div>

            </form>

        </div>

    </div>

{% endblock contenido %}
