{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Editar Usuario {% endblock title %}

{% block css %}

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/4.0.3/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2-bootstrap-theme-master/0.1.0-beta.10/dist/select2-bootstrap.min.css' %}"/>

    <!-- Bootrstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css' %}"/>

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'own-theme/tags.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'own-theme/menubar.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'own-theme/links.min.css' %}"/>

{% endblock css %}

{% block content %}

    <div class="container own-page-content">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h3>
                        <ol class="breadcrumb own-breadcrumb">
                          <li class="own-breadcrumb-init"><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                          <li>{{form.instance.username}}</li>
                        </ol>
                    </h3>
                </header>
            </div>
        </div>

        <ul class="own-review-menu">
            <li class="active">
                <a href="#">Cuenta</a>
            </li>
            <li>
                <a href="{% url 'security:user_profile' form.instance.pk %}">Empleado</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-9">

                <form class="" action="" method="post"> {% csrf_token %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Informacion de la cuenta</h3>
                        </div>
                        <div class="panel-body">

                            {% include 'tags/messages.html' %}

                            {% tag_form_errors form %}

                            {% tag_field form.username %}

                            {% tag_field form.first_name %}

                            {% tag_field form.last_name %}

                            {% tag_field form.email %}

                            <div class="form-group">
                                <label class="checkbox-inline">{{form.is_active}} {{form.is_active.label}}</label>

                                <label class="checkbox-inline">{{form.is_superuser}} {{form.is_superuser.label}}</label>

                                <label class="checkbox-inline">{{form.is_staff}} {{form.is_staff.label}}</label>
                            </div>

                        </div>
                        <div class="panel-footer text-center">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="panel panel-default affix-top">
                    <div class="panel-heading">
                        <h3 class="panel-title">Otras Acciones:</h3>
                    </div>
                    <ul class="list-group">
                        <a class="list-group-item own-link-item text-center" href="{% url 'security:user_password' form.instance.pk %}">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            Cambiar Contraseña
                        </a>
                        <a class="list-group-item own-link-item text-center" href="{% url 'security:user_permissions' form.instance.pk %}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            Editar Permisos
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

    <!-- Bootstrap Select -->
    <script type="text/javascript" src="{% static 'libs/select2/4.0.3/dist/js/select2.min.js' %}"></script>

    <!-- Bootrstrap DatePicker -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Bootstrap Filestyle -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-filestyle/1.2.1/src/bootstrap-filestyle.min.js' %}"></script>

{% endblock scripts %}
