{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/4.0.3/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2-bootstrap-theme-master/0.1.0-beta.10/dist/select2-bootstrap.min.css' %}"/>

    <!-- Bootrstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css' %}"/>

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'new_add.css' %}"/>

{% endblock css %}

{% block contenido %}

    <div class="row">
        <div class="col-xs-12">
            <header>
                <h3>
                    <ol class="breadcrumb">
                      <li><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                      <li>Carlos</li>
                    </ol>
                </h3>
            </header>
        </div>
    </div>

    <ul class="own-review-menu">
        <li class="active">
            <a href="#">Cuenta</a>
        </li>
        <li>
            <a href="#">Persona</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-9">

            <form class="" action="" method="post">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informacion de la cuenta</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="empleados">Clave:</label>
                            <input type="text" class="form-control" value="JMARTINEZH">
                        </div>

                        <div class="form-group">
                            <label for="empleados" class="control-label">Nombre(s):</label>
                            <input type="text" class="form-control" value="JORGE DE JESUS">
                        </div>

                        <div class="form-group">
                            <label for="empleados">Apellido(s):</label>
                            <input type="text" class="form-control" value="MARTINEZ HERNANDEZ">
                        </div>

                        <div class="form-group">
                            <label for="empleados">Fecha Nacimiento:</label>
                            <input type="text" id="fecha" class="form-control" value="30/11/1985">
                        </div>

                        <div class="form-group">
                            <label for="empleados" class="control-label">Email:</label>
                            <input type="text" class="form-control" value="jorge.martinez@cmr.com.mx">
                        </div>

                        <div class="form-group">
                            <label for="empleados" class="own-label control-label">Estado:</label>
                            <select id="empleados" class="form-control">
                                <option>ACTIVO</option>
                                <option>Deshabilitado</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-footer">

                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            Guardar
                        </button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="panel panel-default affix-top">
                <div class="panel-heading">
                    <h3 class="panel-title">Otras Acciones:</h3>
                </div>
                <ul class="list-group">
                    <a class="list-group-item text-center" href="#">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        Cambiar Contraseña
                    </a>
                    <a class="list-group-item text-center" href="#">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        Editar Permisos
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}

    <!-- Bootstrap Select -->
    <script type="text/javascript" src="{% static 'libs/select2/4.0.3/dist/js/select2.min.js' %}"></script>

    <!-- Bootrstrap DatePicker -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Bootstrap Filestyle -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-filestyle/1.2.1/src/bootstrap-filestyle.min.js' %}"></script>

    <!-- Own's Scripts -->
    <script type="text/javascript" src="{% static 'user_add.js' %}"></script>


{% endblock scripts %}
