{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Cambiar Contraseña {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'own-theme/tags.css' %}"/>

{% endblock css %}

{% block content %}

    <div class="row">

        <div class="col-xs-12">
            <header>
                <h3>
                    <ol class="breadcrumb own-breadcrumb">
                      <li class="own-breadcrumb-init"><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                      <li class="own-breadcrumb-init"><a href="{% url 'security:user_edit' form.user.pk %}">{{form.user.username}}</a></li>
                      <li>Cambiar contraseña</li>
                    </ol>
                </h3>
            </header>
            <hr class="own-article-line">
        </div>

        <div class="col-xs-12">

            <form action="" method="POST" class="well"> {% csrf_token %}

                {% include 'tags/messages.html' %}

                {% tag_form_errors form %}

                {% tag_field form.password1 %}

                {% tag_field form.password2 %}

                <div class="text-center">
                    <a href="{% url 'security:user_edit' form.user.pk %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Regresar a Edicion
                    </a>
                    <button type="submit" class="btn btn-success">
                        Cambiar Contraseña
                    </button>
                </div>

            </form>

        </div>
    </div>

{% endblock content %}
