{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Permisos de usuario {% endblock title %}

{% block css %}

    <!-- Loudev -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/lou-multi-select/0.9.10/css/multi-select.css' %}"/>

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'tags.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'messages.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'user/permissions.css' %}"/>

{% endblock css %}

{% block content %}

    <div class="row">

        <div class="col-xs-12">
            <header>
                <h3>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'security:user_list' %}">Usuarios</a></li>
                        <li><a href="{% url 'security:user_edit' form.instance.pk %}">{{form.instance.username}}</a></li>
                        <li>Permisos</li>
                    </ol>
                </h3>

            </header>
            <hr class="own-article-line">
        </div>

        <div class="col-xs-12">
            <form action="" method="POST" class="well text-center"> {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-md-8  col-md-offset-2">
                        {% include 'tags/messages.html' %}

                        {% tag_form_errors form %}

                        {{ form.groups }}
                    </div>
                </div>

                <br>

                <div class="text-center">
                    <a href="{% url 'security:user_edit' form.instance.pk %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Regresar a Edicion
                    </a>
                    <button type="submit" class="btn btn-success">
                        Guardar Cambios
                    </button>
                </div>
            </form>

        </div>
    </div>

{% endblock content %}

{% block scripts %}

    <!-- Loudev -->
    <script type="text/javascript" src="{% static 'libs/lou-multi-select/0.9.10/js/jquery.multi-select.js' %}"></script>

    <!-- Own's Scripts -->
    <script type="text/javascript" src="{% static 'user/permissions.js' %}"></script>

{% endblock scripts %}
