{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}
{% load filter_has_group from custom_tags %}
{% block title %} GCM - Prestaciones{% endblock %}
{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" href="{% static 'voucher/list.min.css' %}" />

{% endblock css %}

{% block content %}

    <div class="container-fluid">

           <header>
                <h3 class="own-titulo">Prestaciones</h3>
            </header>

            <hr class="own-article-line">            

            <nav class="own-article-toolbar">
                
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <a href="{% url 'payroll:benefit_add' %}" class="btn btn-primary visible-xs visible-sm-inline visible-md-inline visible-lg-inline">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            Solicitar
                        </a>
                        {% if user.is_superuser or user|filter_has_group:"PRESTACIONES_ADM" %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="filter_checkbox"> Ver todas las solicitudes
                                </label>
                            </div>
                        {% endif %}
                    </div>
                    
                    <br class="visible-xs">
                    <br class="visible-xs">

                    <form class="col-xs-12 col-sm-6" action="" method="GET">

                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="escribe texto a buscar" value="{{ request.GET.q }}">
                            
                            <span class="input-group-btn">
                              <button type="submit" id="boton_buscar" class="btn btn-info btn-flat">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <span class="hidden-xs">Buscar</span>
                              </button>
                            </span>
                        </div>   

                    </form>
                </div>
            </nav>  

            <br>            

            <div class="container-fluid">
            {% if requisitions %}

                <div class="row own-record-titles">

                    <div class="col-sm-4 col-md-6">TIPO</div>

                    <div class="col-sm-1 col-md-1">ESTADO</div>

                    <div class="col-sm-3 col-md-2">FECHA</div>

                    <div class="col-sm-3 col-md-2">FECHA SOLICITUD</div>

                    <div class="col-sm-1 col-md-1"></div>
                </div>

                {% for requisition in requisitions %}
                    <div class="row own-record">

                        <!-- Tipo y Estado -->
                        <div class="visible-xs col-sm-5 own-column-pk
                            {% if requisition.is_Complete %}
                                own-column-pk-success
                            {% elif requisition.is_Cancel %}
                                own-column-pk-cancel
                            {% else %}
                                own-column-pk-warning
                            {% endif %}">
                            {{requisition.type}} - {{requisition.pk}}

                            <span class="own-column-conten pull-right">
                                {% if requisition.is_Complete %}
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                {% elif requisition.is_Cancel %}
                                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                {% endif %}
                            </span>
                        </div>

                        <!-- Tipo y Nombre -->
                        <div class="col-sx-12 col-sm-4 col-md-6 own-column-main own-column--border">

                            <div class="row">
                                <div class="hidden-xs col-sm-12 col-md-5 own-data-second">
                                    {{requisition.pk}} - {{requisition.type}}
                                </div>
                                <div class="col-sx-12 col-sm-12 col-md-7 own-data-second">
                                    <strong>{{ requisition.reason|truncatechars:30 }}</strong>
                                </div>
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="hidden-xs col-sm-1 own-column text-center own-column--border own-column-estado">
                            <span class="own-column-conten">

                                {% if requisition.is_Complete %}
                                    <span class="glyphicon glyphicon-ok-sign own-data-icon-success" aria-hidden="true"></span>
                                {% elif requisition.is_Cancel %}
                                    <span class="glyphicon glyphicon-minus-sign own-data-icon-cancel" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-time own-data-icon-warning" aria-hidden="true"></span>
                                {% endif %}
                            </span>
                        </div>

                        <!-- Fecha Informacion -->
                        <div class="col-sx-12 col-sm-3 col-md-2 own-column own-column-range own-column--border">
                            <span class="own-data-label" >
                                Fecha:
                            </span>
                            <span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue">
                                {{requisition.date|date:"d M Y"}}
                            </span>
                        </div>

                        <!-- Fecha Solicitud -->
                        <div class="col-sx-12 col-sm-3 col-md-2 own-column own-column--border">
                            <span class="own-data-label" >
                                Fecha Solicitud:
                            </span>
                            <span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue">
                                {{requisition.created_date|naturaltime|default:"" }}
                            </span>
                        </div>

                        <!-- Comand -->
                        <a href="{% url 'payroll:benefit_edit' requisition.pk %}" class="col-sx-12 col-sm-1 col-md-1 own-column own-comando">

                            <span class="glyphicon glyphicon-edit own-link-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue own-data-comandvalue">
                                Revisar
                            </span>
                        </a>

                    </div>
                {% endfor %}

                <div class="text-center">
                    <ul class="pagination pagination-sm no-margin">
                        {% if requisitions.has_previous %}
                            <li><a href="?{{ page_request_var }}={{ requisitions.previous_page_number }}&q={{ request.GET.q }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in requisitions.paginator.page_range %}
                            <li {% if requisitions.number == i %} class="active own-active" {% endif %}>
                                <a href="?page={{i}}&q={{ request.GET.q }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if requisitions.has_next %}
                            <li><a href="?page={{ requisitions.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>

            {% else %}
                <h1 class="text-center">Sin solicitudes</h1>
            {% endif %}
        </div>

    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'libs/js-cookie/2.2.0/src/js.cookie.js' %}"></script>
    <script src="{% static 'benefit_list.js' %}"></script>
{% endblock scripts %}