{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

{% endblock css %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
                <div class="jumbotron text-center">
                    <h2>Solicitud de Prestacion en proceso</h2>
                    <p>Por favor espera a que la solicitud sea actualizada.</p>
                    <p>Serás informado con un correo electronico de los cambios.</p>
                </div>
            </div>>
    </div>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}