{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/4.0.3/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2-bootstrap-theme-master/0.1.0-beta.10/dist/select2-bootstrap.min.css' %}"/>

    <!-- Bootrstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css' %}"/>

{% endblock css %}

{% block contenido %}

    <div class="row">

        <div class="col-xs-12">
            <header>
                <h3 class="own-titulo">Revisar Solicitud Prestación</h3>
            </header>

            <hr class="own-article-line">

            <br>            
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="well">

                <div class="form-group">
                    <label for="empleados">Empleado:</label>
                    <select id="empleados" class="form-control" disabled>
                        <option>201334 - JORGE MARTINEZ HERNANDEZ</option>
                        <option>208323 - CARLOS ANDRES MARTINEZ JIMENEZ</option>
                        <option>234121 - CLAUDIA VILLEGAS LOPEZ</option>
                    </select>                   
                </div>
                
                <div class="form-group">
                    <label for="empleados">Fecha:</label>
                    <input type="text" id="fecha" class="form-control" value="12/04/2017" disabled>
                </div>

                <div class="form-group">
                    <label for="empleados">Tipo de Prestacion:</label>
                    <select id="empleados" class="form-control" disabled>
                        <option>Cerdito</option>
                    </select>                   
                </div>

                <div class="form-group">
                    <label for="comment">Motivo:</label>
                    <textarea class="form-control" rows="5" id="comment" disabled>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptatem! Cupiditate laboriosam in eum quibusdam dolore nam vitae, minima delectus harum, odit fugit adipisci quisquam impedit, consequatur magni dicta, quo.</textarea>
                </div>

                <div class="form-group">
                    <label for="empleados">Estado:</label>
                    <select id="empleados" class="form-control" disabled="">
                        <option>Pago Validado</option>
                    </select>                   
                </div>

                <div class="form-group">
                    <label for="comment">Comentarios de la Administracion:</label>
                    <textarea class="form-control" rows="5" id="comment" disabled>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui quaerat sint consectetur quas, eaque, nemo odio nostrum sit perspiciatis commodi hic totam dolores eum neque repellendus, iure ad. Sapiente.</textarea>
                </div>

                <div class="text-center">
                    <button class="btn btn-danger pull-left">
                        Cancelar
                    </button>
                
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        Imprimir
                    </button>

                    <button class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>                    
                        Informacion del Pago
                    </button>                    
                </div>                                                                  

            </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="form-group well">
                <label for="comment">Comentario:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <br>
                <button class="btn btn-default">
                    Enviar
                </button>                            
            </div>
        </div>       
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Informacion del Pago</h4>
          </div>
          <div class="modal-body">
                
                <div class="form-group">
                    <label for="empleados">Folio:</label>
                    <input type="text" class="form-control" value="XXXXXXXX">
                </div>

                <div class="form-group">
                    <label for="empleados">Referencia de Pago:</label>
                    <input type="text" class="form-control" value="XXXXXXXXX">
                </div>                

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
        </div>

      </div>
    </div>    

{% endblock contenido %}

{% block scripts %}

    <!-- Bootstrap Select -->
    <script type="text/javascript" src="{% static 'libs/select2/4.0.3/dist/js/select2.min.js' %}"></script>

    <!-- Bootrstrap DatePicker -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Own's Scripts -->
    <script type="text/javascript" src="{% static 'benefit_add.js' %}"></script>    

{% endblock scripts %}