{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/4.0.3/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2-bootstrap-theme-master/0.1.0-beta.10/dist/select2-bootstrap.min.css' %}"/>

    <!-- DateRangePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-daterangepicker/2.1.25/daterangepicker.css' %}"/>

{% endblock css %}

{% block contenido %}

	<div class="row">

		<div class="col-xs-12">
            <header>
                <h3 class="own-titulo">Solicitar Comprobante</h3>
            </header>

            <hr class="own-article-line">

			<br>			
		</div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<div class="well">

				<div class="form-group">
					<label for="empleados">Empleado:</label>
					<select id="empleados" class="form-control">
						<option>201334 - JORGE MARTINEZ HERNANDEZ</option>
						<option>208323 - CARLOS ANDRES MARTINEZ JIMENEZ</option>
						<option>234121 - CLAUDIA VILLEGAS LOPEZ</option>
					</select>					
				</div>
				
				<div class="form-group">
					<label for="empleados">Fecha:</label>
					<input type="text" class="form-control" id="fecha" value="01/01/2015 - 01/31/2015" />
				</div>

				<div class="form-group">
					<label for="empleados">Tipo de Comprobante:</label>
					<select id="empleados" class="form-control">
						<option>Recibo de Nomina</option>
						<option>Recibo de Vacaciones</option>
						<option>Recibo de Prestamo</option>
					</select>					
				</div>				

                <div class="text-center">
                    <a href="{% url 'payroll:voucher_add_success' %}" class="btn btn-primary">Solicitar</a>
                </div> 

			</div>

        </div>
	</div>

{% endblock contenido %}

{% block scripts %}

	<!-- Bootstrap Select -->
	<script type="text/javascript" src="{% static 'libs/select2/4.0.3/dist/js/select2.min.js' %}"></script>

	<!-- DateRangePicker -->
	<script type="text/javascript" src="{% static 'libs/bootstrap-daterangepicker/2.1.25/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/bootstrap-daterangepicker/2.1.25/daterangepicker.js' %}"></script>

	<!-- Own's Scripts -->
	<script type="text/javascript" src="{% static 'voucher_add.js' %}"></script>	

{% endblock scripts %}