{% extends 'master_in.html' %}

{% load static from staticfiles %}

{% block css %}

{% endblock css %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="jumbotron text-center">
                    <h1>Solicitud de prestación enviada</h1>

                    <p>
                    	El equipo del departamento de nómina procesará tu solicitud.
                    </p>

                    <a href="{% url 'payroll:benefit_list_all' %}" class="btn btn-default">
                        Ver lista de solicitudes de prestaciones
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}