
.own-table
{
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
}

    .own-table > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .own-table > tbody > tr:first-child {
        border-top: 0;
    }

    .own-table > tbody > tr > td {
        border-top: 0;
    }

    .own-table-iconito {
    	color: #B1B4C4;
    }

    .own-table-title {
        font-size: 12px;
    }

    .own-table-info {
        width: 65%;
    }

    .own-table-value {
        font-weight: bold;
        font-size: 1.1em;
    }



/* ---------------------- Media Class ---------------------- */

@media (min-width: 750px) {

    .own-table
    {
        margin-top: 0;
    }

        .own-table-info {
            width: 80%;
        }
}
