@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro|Open+Sans');

.own-carrusel-news {
    margin-bottom: 2em;
}


.own-title-news {
    background: #0f5050;
    border-radius: 4px;
    padding: .4em 0 .4em 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}


.own-banners-link-voucher {
    text-decoration: none;
    color: white;
}

.own-banners-link-voucher:hover {
    text-decoration: none;
    color: white;
}

.own-banners-link-benefit {
    text-decoration: none;
    color: #2E662C;
}

.own-banners-link-benefit:hover {
    text-decoration: none;
    color: #2E662C;
}

.own-banners-link-incident {
    text-decoration: none;
    color: #775B29;
}

.own-banners-link-incident:hover {
    text-decoration: none;
    color: #775B29;
}

.own-little-info {
    color: #7E848C;
    font-size: .9em;
}

@media (min-width: 750px) {

    .own-banners {
        padding: .3em 0 .3em 0;
    }

}


@media (min-width: 1200px) {

    .own-banners {
        padding: 2em 0 2em 0;
    }

}
