@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro|Open+Sans');


html, body {
    height: 100%;
    /*font-size: 16px;*/
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
     margin-top: 0px;
}

/* ---------------------- Master ---------------------- */

.own-wrap {
  min-height: 100%;
}

    .own-main {
      overflow: visible;
      padding-bottom:2.7em; /* this needs to be bigger than footer height*/
    }

        .own-navbar {
            background-color: white;
        }

            .own-navbar-brand {
                padding: 5px 15px;
            }

            .own-logo {
                width: 150px;
                height: 40px;
            }

            .own-menu-opt {
                color: #0c6262 !important;
                /*font-family: 'Source Sans Pro', sans-serif;*/
                /*font-family: 'Roboto', sans-serif;*/
                font-family: 'Open Sans', sans-serif;
            }

            .own-menu-opt:hover {
                background-color: #0c6262 !important;
                color: white !important;
            }

            .own-submenu-opt {
                font-family: 'Open Sans', sans-serif;
                color: white !important;
            }

            .own-submenu-opt:hover {
                background-color: #0c6262 !important;
            }

                .own-panel-heading {
                    background-color: #DE6324 !important;
                    color: white;
                }

                    .own-btn-primary {
                        background-color: #0C6262;
                        color: white;
                    }

        .own-dropdown {
            margin-right: 0.4em;
        }

            .own-dropdown-menu {
                background-color: #de6324 !important;
            }

                .own-btn-menu {
                    padding-top: 4px !important;
                    padding-bottom: 4px !important;
                    margin-left: 70px;
                    margin-right: 70px;
                    color: white !important;
                }

                .own-btn-menu-out:hover {
                    color: #ce3d3e !important;
                }

                .own-btn-menu-in:hover {
                    color: #2965a7 !important;
                }

                .own-page-content {
                	margin-bottom: 2em;
                    min-height: 100%;
                }

                .own-breadcrumb {
                    margin-bottom: 0px;
                }

                    .own-breadcrumb-init {
                        font-size: 14px;
                    }

.own-page-footer {

	position: relative;
	margin-top:-2.7em; /* negative value of footer height */

	height: 2.7em;
	border-top: 1px solid #E5E5E5;
	background-color: white;
    color: #666;
	padding: .7em;
  	clear:both;

    background-color: white;

}



/* ---------------------- Media Class ---------------------- */

@media (min-width: 750px) {

    .own-navbar {
        border-radius: 0px;
    }

    .own-btn-menu {
        margin-left: auto;
        margin-right: auto;
        color: white !important;
    }

    .own-dropdown-menu {
        background-color: white !important;
    }

        .own-dropdown-menu  a {
            color: black !important;
        }

        .own-dropdown-menu  a:hover {
            color: white !important;
        }

}
