@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');

html, body {
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ---------------------- Master ---------------------- */

.own-wrap {
  min-height: 100%;
}

    .own-main {
      overflow: visible;
      padding-bottom:2.7em; /* this needs to be bigger than footer height*/
    }

        .own-dropdown {
            margin-right: 0.4em;
        }

            .own-btn-logout {
                padding-top: 4px !important;
                padding-bottom: 4px !important;
                margin-left: 70px;
                margin-right: 70px;
            }

            .own-page-content {
            	margin-bottom: 2em;
              min-height: 100%;
            }

            /*.own-share-title {
                margin-bottom: .5em;
            }*/

.own-page-footer {

	position: relative;
	margin-top:-2.7em; /* negative value of footer height */

	height: 2.7em;
	border-top: 1px solid #E5E5E5;
	background-color: #F8F8F8;
	padding: .7em;
  	clear:both;

}

/* ---------------------- Mensajes ---------------------- */

.own-success {
    background-color: #57B754;
}

.own-warning {
    background-color: #EDA847;
}


/* ---------------------- Media Class ---------------------- */

@media (min-width: 750px) {

    .own-btn-logout {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {

}
