@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans');

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

hr {
     margin-top: 0px;
}

.own-wrap {
  min-height: 100%;
}

    .own-main {
        overflow: visible;
        padding-bottom:2.7em; /* this needs to be bigger than footer height*/
    }

        .own-navbar {
            background-color: white;
        }

            .own-navbar-brand {
                padding: .3em .9em;
            }

                .own-logo {
                    width: 9em;
                    height: 2.3em;
                }

            .own-dropdown {
                margin-right: 0.4em;
            }

                .own-dropdown-menu {
                    background-color: #de6324 !important;
                }

                    .own-dropdown-menu a {
                        /*color: black !important;*/
                    }

                    .own-dropdown-menu a:hover {
                        /*color: white !important;*/
                    }

                        .own-menu-option {
                            color: #0c6262 !important;
                        }

                        .own-menu-option:hover {
                            background-color: #0c6262 !important;
                            color: white !important;
                        }

                            .own-submenu-option {
                                color: white !important;
                            }

                            .own-submenu-option:hover {
                                background-color: #0c6262 !important;
                            }

                .own-btn-menu {
                    padding-top: .25em !important;
                    padding-bottom: .25em !important;
                    margin-left: 5em;
                    margin-right: 5em;
                    color: white !important;
                }

                .own-btn-menu-out:hover {
                    color: #ce3d3e !important;
                }

                .own-btn-menu-in:hover {
                    color: #2965a7 !important;
                }

                .own-panel-heading {
                    background-color: #DE6324 !important;
                    color: white;
                }

                    .own-btn-primary {
                        background-color: #0C6262;
                        color: white;
                    }

        .own-breadcrumb {
            margin-bottom: 0px;
        }

            .own-breadcrumb-init {
                font-size: 14px;
            }

.own-page-footer {

	position: relative;
	margin-top:-2.7em; /* negative value of footer height */

	height: 2.7em;
	border-top: 1px solid #E5E5E5;
	background-color: white;
    color: #666;
	padding: .7em;
  	clear:both;

    background-color: white;

}


@media (min-width: 768px) {

        .own-navbar {
            border-radius: 0;
        }

            .own-btn-menu {
                margin-left: auto;
                margin-right: auto;
                color: white !important;
            }

                .own-dropdown-menu {
                    background-color: white !important;
                }

                    .own-dropdown-menu a {
                        color: black !important;
                    }

                    .own-dropdown-menu a:hover {
                        color: white !important;
                    }

}
