{% extends 'master_in.html' %}

{% load static from staticfiles %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="jumbotron text-center">
                    <h1>Reporte de Incidencia enviado</h1>
                    <p>
                        El equipo del Calidad revisara el reporte y emitira los comentarios pertinentes.
                    </p>
                    <a href="{% url 'labor:incident_list_all' %}" class="btn btn-default">
                        Ver lista de Reportes de Incidencia
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
