{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}

{% block title %} GCM - Incidencia {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" href="{% static 'incident/list.min.css' %}" />

{% endblock css %}

{% block content %}

    <div class="container-fluid">
        <header>
            <h3 class="own-titulo">Incidencias</h3>
        </header>
        <hr>
        <nav>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="{% url 'labor:incident_add' %}" class="btn btn-primary ">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Solicitar
                    </a>

                    {% if request.path == '/incidents/all/' %}
                        <a href="{% url 'labor:incident_list_pending' %}" class="btn btn-info ">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            Ver solo pendientes
                        </a>
                    {% else %}
                        <a href="{% url 'labor:incident_list_all' %}" class="btn btn-info ">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                            Ver todos
                        </a>
                    {% endif %}
                </div>
                <br class="hidden-sm hidden-md hidden-lg">
                <br class="hidden-sm hidden-md hidden-lg">
                <form class="col-xs-12 col-sm-6" action="" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="escribe texto a buscar" value="{{ request.GET.q }}">

                        <span class="input-group-btn">
                          <button type="submit" id="boton_buscar" class="btn btn-info btn-flat">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <span class="hidden-xs">Buscar</span>
                          </button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        <br>
        <br class="hidden-xs">

        <div class="container-fluid">
            {% if records %}

                <div class="row own-record-titles">

                    <div class="col-sm-4 col-md-6">TIPO</div>

                    <div class="col-sm-1 col-md-1">ESTADO</div>

                    <div class="col-sm-3 col-md-2">FECHA INFORMACION</div>

                    <div class="col-sm-3 col-md-2">FECHA SOLICITUD</div>

                    <div class="col-sm-1 col-md-1"></div>
                </div>

                {% for record in records %}
                    <div class="row own-record">

                        <!-- Tipo y Estado -->
                        <div class="visible-xs col-sm-5 own-column-pk
                            {% if record.is_Complete %}
                                own-column-pk-success
                            {% elif record.is_Cancel %}
                                own-column-pk-cancel
                            {% else %}
                                own-column-pk-warning
                            {% endif %}">
                            {{record.type}} - {{record.pk}}

                            <span class="own-column-conten pull-right">
                                {% if record.is_Complete %}
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                {% elif record.is_Cancel %}
                                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                {% endif %}
                            </span>
                        </div>

                        <!-- Tipo y Nombre -->
                        <div class="col-sx-12 col-sm-4 col-md-6 own-column-main own-column--border">

                            <div class="row">
                                <div class="hidden-xs col-sm-12 col-md-5 own-data-second">
                                    {{record.pk}} - {{record.type}}
                                </div>
                                <div class="col-sx-12 col-sm-12 col-md-7 own-data-second">
                                    <strong>{{ record.reason|truncatechars:30 }}</strong>
                                </div>
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="hidden-xs col-sm-1 own-column text-center own-column--border own-column-estado">
                            <span class="own-column-conten">

                                {% if record.is_Complete %}
                                    <span class="glyphicon glyphicon-ok-sign own-data-icon-success" aria-hidden="true"></span>
                                {% elif record.is_Cancel %}
                                    <span class="glyphicon glyphicon-minus-sign own-data-icon-cancel" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-time own-data-icon-warning" aria-hidden="true"></span>
                                {% endif %}
                            </span>
                        </div>

                        <!-- Fecha Informacion -->
                        <div class="col-sx-12 col-sm-3 col-md-2 own-column own-column-range own-column--border">
                            <span class="own-data-label" >
                                Fecha Información:
                            </span>
                            <span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue">
                                {{record.date|date:"d M Y"}}
                            </span>
                        </div>

                        <!-- Fecha Solicitud -->
                        <div class="col-sx-12 col-sm-3 col-md-2 own-column own-column--border">
                            <span class="own-data-label" >
                                Fecha Solicitud:
                            </span>
                            <span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue">
                                {{record.created_date|naturaltime|default:"" }}
                            </span>
                        </div>

                        <!-- Comand -->
                        <a href="{% url 'labor:incident_view' record.pk %}" class="col-sx-12 col-sm-1 col-md-1 own-column own-comando">

                            <span class="glyphicon glyphicon-edit own-link-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue own-data-comandvalue">
                                Revisar
                            </span>
                        </a>

                    </div>
                {% endfor %}

                <div class="text-center">
                    <ul class="pagination pagination-sm no-margin">
                        {% if records.has_previous %}
                            <li><a href="?{{ page_request_var }}={{ records.previous_page_number }}&q={{ request.GET.q }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in records.paginator.page_range %}
                            <li {% if records.number == i %} class="active own-active" {% endif %}>
                                <a href="?page={{i}}&q={{ request.GET.q }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if records.has_next %}
                            <li><a href="?page={{ records.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>

            {% else %}
                <h1 class="text-center">Sin solicitudes</h1>
            {% endif %}
        </div>

    </div>

{% endblock content %}
