{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

{% endblock css %}

{% block content %}

    <div class="row">
        
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h2>¡Articulo publicado!</h2>

                <a href="{% url 'editorial:new_view' 0 %}" class="btn btn-default">
                    Revisar publicacion
                </a>

                <a href="{% url 'home:index' %}" class="btn btn-default">
                    Ir al inicio
                </a>                
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}


{% endblock scripts %}