{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}

{% block title %} GCM - Comprobantes {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" href="{% static 'voucher/list.min.css' %}" />

{% endblock css %}

{% block content %}

    <div class="container-fluid">
        <header>
            <h3 class="own-titulo">Comprobantes</h3>
        </header>
        <hr>
        <nav>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="{% url 'payroll:voucher_add' %}" class="btn btn-primary visible-xs visible-sm-inline visible-md-inline visible-lg-inline">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Solicitar
                    </a>
                </div>
                <br class="visible-xs">
                <br class="visible-xs">
                <form class="col-xs-12 col-sm-6" action="" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="escribe texto a buscar" value="{{ request.GET.q }}">

                        <span class="input-group-btn">
                          <button type="submit" id="boton_buscar" class="btn btn-info btn-flat">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <span class="hidden-xs">Buscar</span>
                          </button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        <br>
        <br class="hidden-xs">

        <div class="container-fluid">
            {% if vouchers %}

                <div class="row own-record-titles">

                    <div class="col-sm-4 col-md-6">TIPO</div>

                    <div class="col-sm-1 col-md-1">ESTADO</div>

                    <div class="col-sm-3 col-md-2">FECHA INFORMACION</div>

                    <div class="col-sm-3 col-md-2">FECHA SOLICITUD</div>

                    <div class="col-sm-1 col-md-1"></div>
                </div>

                {% for voucher in vouchers %}
                    <div class="row own-record">

                        <!-- Tipo y Estado -->
                        <div class="visible-xs col-sm-5 own-column-pk {% if voucher.is_complete %} own-column-pk-active {% else %} own-column-pk-disable {% endif %}">
                            {{voucher.tipo}}
                            <span class="own-column-conten pull-right">
                                {% if voucher.is_complete %}
                                    <span class="glyphicon glyphicon-ok-sign own-data-activeicon" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-time own-data-disableicon" aria-hidden="true"></span>
                                {% endif %}


                            </span>
                        </div>

                        <!-- Tipo y Nombre -->
                        <div class="col-sx-12 col-sm-4 col-md-6 own-column-main own-column--border">

                            <div class="row">
                                <div class="hidden-xs col-sm-12 col-md-3">
                                    {{voucher.tipo}}
                                </div>
                                <div class="col-sx-12 col-sm-12 col-md-7 own-data-second">
                                    <a href=" {% url 'security:profile' voucher.created_by.pk %}">
                                        {{ voucher.created_by }}
                                    </a>

                                </div>
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="hidden-xs col-sm-1 own-column text-center own-column--border own-column-estado">
                            <span class="own-column-conten">
                                {% if voucher.is_complete %}
                                    <span class="glyphicon glyphicon-ok-sign own-data-icon-active" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-minus-sign own-data-icon-disable" aria-hidden="true"></span>
                                {% endif %}
                            </span>
                        </div>

                        <!-- Fecha Informacion -->
                        <div class="col-sx-12 col-sm-3 col-md-2 own-column own-column-range own-column--border">
                            <span class="own-data-label" >
                                Fecha Información:
                            </span>
                            <span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue">
                                {{voucher.fecha_inicial|date:"d M Y"}} - {{voucher.fecha_final|date:"d M Y"}}
                            </span>
                        </div>

                        <!-- Fecha Solicitud -->
                        <div class="col-sx-12 col-sm-3 col-md-2 own-column own-column--border">
                            <span class="own-data-label" >
                                Fecha Solicitud:
                            </span>
                            <span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue">
                                {{voucher.created_date|naturaltime|default:"" }}
                            </span>
                        </div>

                        <!-- Comand -->
                        <a href="{% url 'payroll:voucher_edit' voucher.pk %}" class="col-sx-12 col-sm-1 col-md-1 own-column own-comando">

                            <span class="glyphicon glyphicon-edit own-link-icon" aria-hidden="true"></span>
                            <span class="own-data-normalvalue own-data-comandvalue">
                                Editar
                            </span>
                        </a>

                    </div>
                {% endfor %}

                <div class="text-center">
                    <ul class="pagination pagination-sm no-margin">
                        {% if vouchers.has_previous %}
                            <li><a href="?{{ page_request_var }}={{ vouchers.previous_page_number }}&q={{ request.GET.q }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in vouchers.paginator.page_range %}
                            <li {% if vouchers.number == i %} class="active own-active" {% endif %}>
                                <a href="?page={{i}}&q={{ request.GET.q }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if vouchers.has_next %}
                            <li><a href="?page={{ vouchers.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>

            {% else %}
                <h1 class="text-center">Sin solicitudes</h1>
            {% endif %}
        </div>

    </div>

{% endblock content %}
