{% extends 'master.html' %}
{% load static from staticfiles %}
{% load social_tags %}
{% load to_class_name from custom_tags %}
{% block css %}

	<!-- Alertify -->
	<link rel="stylesheet" type="text/css" href="{% static 'libs/alertifyjs/1.11.0/css/alertify.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'libs/alertifyjs/1.11.0/css/themes/bootstrap.min.css' %}"/>

	<!-- Own's Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'details.min.css' %}"/>

{% endblock css %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
            <header>
                <h3 class="own-titulo">
					<ol class="breadcrumb own-breadcrumb">
					  	<li class="own-breadcrumb-init"><a href="{% url 'payroll:voucher_list_all' %}">Solicitudes</a></li>
						<li>Solicitud de Comprobante: <span class="badge own-badge" id="object_id" data-tag-model="{{ rq | to_class_name }}">{{rq.pk}}</span></li>
					</ol>
				</h3>
            </header>
            <hr>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-lg-9">
			<div class="well">

				<div class="form-group">
					<label for="empleados">Empleado:</label>
					<input type="text" class="form-control" value="{{ rq.employee }}" disabled>
				</div>

				<div class="form-group">
					<label for="empleados">Fechas:</label>
					<input type="text" class="form-control" value="{{ rq.date_start|date:"d M Y" }} al {{ rq.date_end|date:"d M Y" }}" disabled />
				</div>

				<div class="form-group">
					<label for="empleados">Tipo de Comprobante:</label>
					<input type="text" class="form-control" value="{{ rq.type }}" disabled>
				</div>

				<div class="form-group">
                    <label for="comment">Motivo de la solicitud:</label>
                    <textarea class="form-control" rows="5" disabled>{{ rq.reason }}</textarea>
                </div>

				{% if rq.is_Complete %}
	                <div class="form-group">
	                    <label for="comment">Respuesta de la Administracion:</label>
	                    <textarea class="form-control" rows="5" value="{{ rq.response }}" disabled></textarea>
	                </div>

					{% if rq.file %}
					<div class="form-group">
						<label for="empleados">Archivo:</label>
						<a href="{{rq.file.url}}">{{rq.file.name}}</a>
					</div>
					{% endif %}
				{% elif rq.is_Cancel is False %}
					<div>
						<a href="{% url 'payroll:voucher_cancel' rq.pk %}" class="btn btn-danger">
							Cancelar
						</a>
	                    <!--
						<button class="btn btn-primary">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
	                    	Imprimir
	                    </button>
						-->
	                </div>
				{% endif %}
			</div>
		</div>

        <div class="col-xs-12 col-md-4 col-lg-3">
			<div class="panel panel-default affix-top">
				<div class="panel-heading">
					<h5 class="panel-title own-panel-title">Informacion:</h5>
				</div>
				<table class="table own-table">
					<tr>
						<td class="own-table-label">
							<span class="glyphicon glyphicon-asterisk own-data-icon" aria-hidden="true"></span>
							 Estado:
						</td>
						<td class="own-table-info">
							{% if rq.is_Complete %}
								<span class="label label-success own-label">
									<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
									{{ rq.get_status_display }}
								</span>
							{% elif rq.is_Cancel %}
								<span class="label label-danger own-label">
									<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
									{{ rq.get_status_display }}
								</span>
							{% else %}
								<span class="label label-warning own-label">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									{{ rq.get_status_display }}
								</span>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="own-table-label">
							<span class="glyphicon glyphicon-user own-data-icon" aria-hidden="true"></span>
							Creado por:
						</td>
						<td class="own-table-info">{{ rq.created_by|default:"" }}</td>
					</tr>
					<tr>
						<td class="own-table-label">
							<span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
							Creado el:
						</td>
						<td class="own-table-info">{{ rq.created_date|date:"d M Y" }}</td>
					</tr>
					<tr>
						<td class="own-table-label">
							<span class="glyphicon glyphicon-user own-data-icon" aria-hidden="true"></span>
							Actualizado por:
						</td>
						<td class="own-table-info">{{ rq.updated_by|default:"" }}</td>
					</tr>
					<tr>
						<td class="own-table-label">
							<span class="glyphicon glyphicon-calendar own-data-icon" aria-hidden="true"></span>
							Actualizado el:
						</td>
						<td class="own-table-info">{{ rq.updated_date|date:"d M Y" }}</td>
					</tr>
				</table>
			</div>
        </div>
	</div>

	{% tag_comments rq %}
</div>

{% endblock content %}

{% block scripts %}

	<!-- JS Cookie -->
	<script src="{% static 'libs/js-cookie/2.2.0/src/js.cookie.js' %}"></script>

	<!-- Alertify -->
	<script src="{% static 'libs/alertifyjs/1.11.0/alertify.min.js' %}"></script>
	<script src="{% static 'alerts.min.js' %}"></script>

	<!-- Mommentjs -->
	<script src="{% static 'libs/momentjs/2.19.3/moment-with-locales.min.js' %}"></script>

	<!-- Own's Libraries -->
	<script src="{% static 'comment.js' %}"></script>

{% endblock scripts %}
