{% extends 'master_out.html' %}
{% load static from staticfiles %}
{% load forms %}
{% load feedback %}
{% block title %} GCM - Escoge tu Contraseña {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'tags/components.min.css' %}"/>

{% endblock css %}

{% block content %}

<div class="container ">

    <br><br>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="well">

            <form action="" method="POST"> {% csrf_token %}

                <h2 class="text-center">
                    Favor de especificar su nueva contraseña
                </h2>

                {% tag_messages messages %}

                {% tag_form_errors form %}

                {% tag_field form.password1 %}

                {% tag_field form.password2 %}

                <div class="text-center">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        Cambiar Contraseña
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock content %}
