{% extends 'master.html' %}

{% block title %} GCM - Contraseña modificada {% endblock title %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="jumbotron text-center">
                <h2>Tu contraseña se ha modificado</h2>

                <a href="{% url 'seguridad:index' %}" class="btn btn-default">
                    Ir al Inicio
                </a>
                <a href="{% url 'security:profile' user.pk %}" class="btn btn-default">
                    Ir a Perfil
                </a>
            </div>
        </div>
    </div>

{% endblock content %}
