{% extends 'master.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Cambiar Contraseña {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'profile_password.css' %}"/>

{% endblock css %}

{% block content %}

	<div class="row">

        <div class="col-xs-12">
            <header>
                <h3>
                    <ol class="breadcrumb">
                      <li><a href="{% url 'security:profile' form.user.pk %}">Profile</a></li>
                      <li>Cambiar contraseña</li>
                    </ol>
                </h3>
            </header>
            <hr class="own-article-line">
        </div>

        <div class="col-xs-12">

            <form action="" method="POST" class="well"> {% csrf_token %}

                {% include 'tags/messages.html' %}

                {% tag_form_errors form %}

                {% tag_field form.old_password %}

                {% tag_field form.new_password1 %}

                {% tag_field form.new_password2 %}

                <div class="text-center">
                    <a href="{% url 'security:profile' form.user.pk %}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Regresar a Perfil
                    </a>
                    <button type="submit" class="btn btn-success">
                        Cambiar Contraseña
                    </button>
                </div>
            </form>

        </div>
	</div>

{% endblock content %}
