{% extends 'out.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Proporcionar Datos {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'tags/components.min.css' %}"/>

{% endblock css %}

{% block content %}

    <div class="container ">

        <br><br>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="well">

                <form action="" method="POST"> {% csrf_token %}

                    <h2 class="text-center">
                        Bienvenido
                    </h2>
                    <h4 class="text-center">
                        Para estar siempre en contacto y disfrutar de todas las caracteristicas del portal
                    </h4>

                    <h4 class="text-center">
                        Proporciona la siguiente información
                    </h4>

                    <br>

                    {% include 'messages.html' %}

                    {% tag_form_errors form %}

                    {% tag_field form.email %}

                    {% tag_field form.phone %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
