{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

{% endblock css %}

{% block contenido %}

    <div class="row">
        
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h2>Reporte de incidencia enviado</h2>

                <p>
                    El equipo del Calidad revisara el reporte y emitira los comentarios pertinentes.
                </p>

                <a href="{% url 'labor:incident_add' %}" class="btn btn-default">
                    Registrar otra Incidencia
                </a>
                <a href="{% url 'home:index' %}" class="btn btn-default">
                    Ir al inicio
                </a>                
            </div>
        </div>
    </div>


{% endblock contenido %}

{% block scripts %}

{% endblock scripts %}