{% if field.errors %}

    <div class="form-group has-error has-feedback">
        <label class="control-label" for="{{ field.id_for_label }}">
            {{ field.label }}

            {% if field.field.required is False %}
                <span class="own-optional">(opcional)</span>
            {% endif %}
        </label>
        {{ field }}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <div class="help-block with-errors">
            <ul class="list-unstyled">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% else %}

    <div class="form-group">
        <label class="control-label" for="{{ field.id_for_label }}">
            {{ field.label }}

            {% if field.field.required is False %}
                <span class="own-optional">(opcional)</span>
            {% endif %}
        </label>
        {{ field }}
        {% if field.help_text %}
            <div class="help-block">
                {{ field.help_text }}
            </div>
        {% endif %}
    </div>

{% endif %}
