{% extends 'out.html' %}

{% load static from staticfiles %}

{% load custom_tags %}

{% block title %} GCM - Login {% endblock title %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

{% endblock css %}

{% block contenido %}

    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 own-loginbox">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <div class="panel-title">Bienvenido a GCM Empleados</div>
            </div>
            <div class="panel-body own-panel-body" >

                {% include 'tags/messages.html' %}

                <form method="post"> {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            {% tag_message 'danger' error %}
                        {% endfor %}
                    {% endif %}

                    <div class="input-group own-fields">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form.username }}
                    </div>

                    <div class="input-group own-fields">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        {{ form.password }}
                    </div>

                    <div class="form-group own-bottons">
                        <div class="col-sm-12 controls">
                            <button type="submut" class="btn btn-success">Entrar</button>
                        </div>
                    </div>

                    <a class="own-forgetpass" href="{% url 'security:password_reset_request' %}">¿Olvidaste la Contraseña?</a>

                </form>
            </div>
        </div>
    </div>

{% endblock contenido %}
